<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wiltrovira.hackatonupb2021">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:name="application.HackatonUPB2021Application"
        android:allowBackup="true"
        android:icon="@mipmap/sosfinder"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HackatonUPB2021">
        <activity
            android:name=".ReportarEventoActivity"
            android:exported="false" />
        <activity
            android:name=".EditarContactoActivity"
            android:exported="false"
            android:label="Crear/Editar contacto" />
        <activity
            android:name=".MisDatosActivity"
            android:exported="false"
            android:label="Mis datos" />
        <activity
            android:name=".CategoriasEventoActivity"
            android:exported="false"
            android:label="@string/category_events" />
        <activity
            android:name=".MiHistorialActivity"
            android:exported="false"
            android:label="Mi historial de reportes" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="Menú de acciones" />
        <activity
            android:name=".MisContactosActivity"
            android:exported="false"
            android:label="Mis contactos" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="Regístrate" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="SOS Finder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>